# PORT=9000

# MONGO_URI=mongodb://localhost:27017/hireme

# JWT_SECRET=replace_with_long_random_string
# JWT_EXPIRES_IN=7d

MONGO_URI=mongodb+srv://bless2005:418-spring-2026@hiremecluster.8qwimlx.mongodb.net/hiremeDB?retryWrites=true&w=majority&appName=HireMeCluster

JWT_SECRET=hireme_super_secret_key

PORT = 9000